@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0d12;
  color: white;
  font-family: "Inter", sans-serif;
}